@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  color: white;
  gap: 20px;
  background: url('Img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  figure {
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(2.3);
      object-position: top 0px right -10px;
    }
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  main {
    gap: 20px;

    button {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 200px;
      height: 50px;
      background-color: #ffffff;
      color: #333;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: #ffffff00;
        border: 1px solid white;
        color: white;
      }
    }
  }
}